body {
  margin: 0;
  font-family: "Markazi Text", serif;
  background-color: #edefee;
}

.booking-form {
  display: grid;
  max-width: 200px;
  gap: 20px;
  margin: 0 auto;
}

.bookingpage-imgs {
  text-align: center;
}

.bookingpage-imgs img {
  display: inline-block;
  height: 150px;
  margin: 20px;
}
