/* general styles */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

// common class

.section-wrapper {
  padding: 2rem 18rem;
}

img {
  width: 100%;
  height: auto;
}

.muted {
  color: #6e6f6e;
}

.white {
  color: #edefee;
}

.btn {
  background-color: #f4ce14;
  border-radius: 10px;
  padding: 10px;
}

/* component specific styles */

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 0 18rem;

  .nav {
    display: flex;
    align-items: center;
  }

  .nav > ul {
    display: flex;
    gap: 1rem;
  }

  .logo {
    width: 100%;
  }
}

.header-content {
  display: flex;
  background-color: #495e57;

  h1 {
    color: #f4ce14;
    font-size: 3em;
  }

  p {
    padding: 0 6rem 0 0;
  }

  img {
    border-radius: 10px;
    width: 50%;
  }
}

.menu-content {
  .menu-head {
    display: flex;
    justify-content: space-between;
    padding: 1rem 18rem;
  }

  .menu-items {
    display: flex;
    gap: 15px;
    padding: 0 18rem;
  }

  .menu-item {
    flex: 1;
  }

  .menu-item > p {
    padding: 0 3rem 0 0;
  }

  img {
    width: 90%;
  }
}

.testi-content {
  background-color: #f4ce14;

  h2 {
    text-align: center;
    padding: 2rem 0 0 0;
  }

  .testimonials-section {
    display: flex;
    justify-content: space-around;
    padding: 0 18rem 1rem 18rem;
  }

  .testimonials-item {
    text-align: center;
    padding: 0 3rem 0 0;
  }

  img {
    width: 100%;
  }
}

.restau-background {
  display: flex;
  justify-content: center;

  h2 {
    color: #495e57;
  }

  p {
    color: #333333;
    padding: 0 6rem 0 0;
  }

  img {
    width: 30%;
  }
}

.footer-content {
  background-color: #495e57;

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav-item {
    display: flex;
  }

  p {
    color: #edefee;
  }

  ul li a {
    color: #edefee;
  }

  img {
    width: 12.5%;
  }

  .copyright {
    text-align: center;
    background-color: #333333;
  }
}
