body {
  margin: 0;
  font-family: "Markazi Text", serif;
  background-color: #edefee;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

.logo {
  height: 50px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav ul li {
  list-style-type: none;
  margin-right: 15px;
}

.nav a {
  text-decoration: none;
  font-size: medium;
  color: #333333;
}

.header-content {
  background-color: #495e57;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

.header-content-text {
  display: flex;
  flex-direction: column;
}

.menu-head {
  display: flex;
  justify-content: space-between;
  margin: 20px 300px 20px;
}
.menu-items {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 300px 20px;
}

.menu-item {
  flex: 1;
}

.testimonials-head {
  text-align: center;
  margin: 20px 300px 20px;
}

.testimonials-section {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 300px 20px;
}

.testimonials-item {
  flex: 1;
}

#testimon-background {
  background-color: #f4ce14;
}

.restau-background {
  margin: 20px 300px 20px;
}

.footer-nav-container {
  background-color: #495e57;
  color: #edefee;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 300px 20px;
}

.footer-nav-container ul {
  list-style-type: none;
}

.footer-nav-container ul a {
  text-decoration: none;
}

img {
  height: 100px;
}

#footer-background {
  background-color: #495e57;
}

.copyright {
  text-align: center;
}
